apiVersion: v1
kind: ConfigMap
metadata:
  name: ingress-nginx-controller
  namespace: ingress-nginx
data:
  allow-snippet-annotations: "true"
  use-proxy-protocol: "false"
  use-forwarded-headers: "true"
  compute-full-forwarded-for: "true"
  annotations-risk-level: "Critical"
